*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
   width: 40%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
    background-color: #ccc;
}
h1{
    text-align: center;
   padding-bottom: 20px;
   color:  #53049e;
}
.pair{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
label{
    color: #53049e;
}
input{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}
.textarea{
    border-radius: 15px;
    padding: 10px;

}
.textarea:focus{
    outline: none;
}
input[type=submit]{
    background-color: #53049e;
    padding:15px 25px;
    color: white;
    font-size: 17px;
}
.btn{
    margin: 10px;
    text-align: center;
}
input:focus{
    outline: none;
}
@media screen and (max-width:600px) {
    form{
        width: 80%;
    }
}
@media screen and (min-width:601px) and (max-width:789px) {
    form{
        width: 80%;
    }
}